.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px 24px; /* Desktop padding */
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .nav__container {
        flex-direction: column; /* Stack items vertically */
        align-items: center;   /* Center items horizontally */
        padding:16px 16px 32px;        /* Add padding for smaller screens */
    }

    .nav__link {
        margin: 8px 0; /* Reduce spacing between links */
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .nav__container {
        padding: 12px 12px 40px;         /* Smaller padding for very small screens */
    }

    .nav__link {
        font-size: 16px;       /* Reduce font size */
    }
}
